.App {
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.container {
  width: 50%;
}

.form-container {
  margin-top: 10px;
  margin-bottom: 40px;
}

.form-container input {
  width: 30px;
  text-align: center;
}
